* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
body {
    background-color: rgb(27, 27, 27);
}
div {
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto 10px;
    padding: 20px;

}

#title{
    background-color: #3a3b3c;

}

#goals{
    background-color:#3a3b3c;

}

#related{
    background-color: #3a3b3c;

}
#approach{
    background-color: #3a3b3c;

}

#team{
    background-color: #3a3b3c;

}